.about-page {
    width: 85%;
    margin: 0 auto;
    align-items: center;
}

.about-image {
    width: 100%;
    height: auto;
    margin-left: 0%;
    margin-right: 0%;
}

.about-page h2 {
    font-size: 4vw;
}

.team-profiles div {
    background-color: #e6ebfc;
    border: 0.5vw outset rgb(61, 9, 9);
    border-radius: 2.5vw;
    border-left-width: 1.5vw;
    border-spacing: 100px;
}

.team-profiles {
    font-size: 2vw;
}

.team-profiles h4 {
    font-size: 3vw;
    margin-bottom: 0.5%;
}

.team-profiles li {
    margin-bottom: 0.2vw;
    margin-top: auto;
    margin-left: 0.5vw;
}

.mission-statement section {
    margin-left: 3%;
    margin-right: 0%;
    font-size: 2vw;
    background-color: #e6ebfc;
    border: 0.5vw outset rgb(61, 9, 9);
    border-radius: 2.5vw;
    border-left-width: 1.5vw;
    border-spacing: 100px;
}

.mission-statement p {
    margin-left: 1%;
}

.profile-list {
    list-style-type: none;
    margin-top: auto;
}

.profile-list p {
    list-style-type: none;
    margin-bottom: 0.2vw;
}

.profile-details li {
    margin-bottom: 0.5vw;
    margin-top: auto;
    margin-left: 3vw;
}

.profile-entry {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: auto;
}

h1#about-title{
    font-size: 10vw;
    font-family: georgia;
    margin-bottom: 5%;
}