
  
  .easter .background {
    background-size:contain;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    position: absolute;
    width: 1000px;
    height:900px;
  }
  
  .easter .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .easter .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: black;
  }
  
  .easter .App-link {
    color: #61dafb;
  }
  
  
  .easter #easterButton {
    background-color:transparent;
    position:static;
    margin-top: 5%;
    margin-left:-20%;
    width:110px;
    height:100px;
    background:transparent;
    border: none;
    outline: none;
  }

  .easter #counter {

    visibility: hidden;
  }

  #easterContainer {
    width:100%;
    height: 100%;
    background-color: black;
  }